body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    min-width: 320px;
    position: relative;
    margin: 0 auto;
}

header {
    height: 680px;
    background-image: url(baner.jpeg);
    background-size: cover; 
}
nav {
    height: 94px;
    line-height: 94px;
}
.navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
}
.navbar-nav a:hover {
    background-color: rgb(239, 238, 238, 0.5);
    color: brown;
}
.card {
    height: 400px;
    text-align: center;
    color: black;
    font-size: 18px;
}
.card h3 {
    font-size: 20px;
}
.card img {
    height: 50px;
    
}
#MyCarousel img {
    height: 680px;
}
.carousel-caption h6 {
    font-size: 48px;
    color: white;
}
.photographer {
    height: 400px;
}
.accordion-item {
    position: relative;
    font-size: 20px;
}
footer {
    padding: 70px 0;
    background-color: black;
}

@media(max-width:768px) {
    header {
        height: 540px;
    }
    .navbar-nav > li{
        margin: 0;
        background-color: rgba(91, 93, 93, 0.8);
        text-align: center;
        width: 200px;
    }
    .navbar-nav a {
        font-size: 20px;
        color: white;
    }
    .mt-sm-3 {
        font-size: 18px;
    }
    nav {
        line-height: 50px;
    }
    .card {
        height: 300px;
        font-size: 16px;
    }
    .card h3 {
        font-size: 16px;
    }
    .card img {
        height: 50px;
    }
    #MyCarousel img {
        height: 300px;
    }
    .carousel-caption h6 {
        font-size: 24px;
        color: white;
    }
    .photographer {
        font-size: 18px;
    }
    
}